body{
    background-image:  url('https://www.arapongas.pr.gov.br/imagens/noticias/47d2f0caaa07a022f57d41de2d6438d8.jpg');
}
.form-control{

    background-color: rgb(208, 228, 228);
    width: 50%;
    margin-top: 200px;
    margin-left: 500px;
    justify-content: flex-start;
}

.container-fluid{
    display: flex;
    display: inline;
    flex-wrap: wrap;
}